{% load static %}
<html>
  <head>
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" media="screen">
      <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css" media="screen">
      <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" type="text/css" media="screen">

      
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="{% static '../static/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Page level plugin CSS-->
        {% block stylesheet %}{% endblock stylesheet %}
  </head>
  <body>
  <main>
      <!-- As a heading -->
    <nav class="navbar navbar-expand-lg navbar-dark" id = "navbar" data-spy="affix" data-offset-top="197">
        <a class="navbar-brand" href="/">Dashboard</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav">
                {% if user.is_superuser %}
                    <li class="nav-item active"><a class="nav-link" href="/accounts/register" id = "reg">Register</a></li> <br>
                    <li class="nav-item active"><a class="nav-link" href="/admin">Admin</a></li> <br>
                {% endif %}
                    <li class="nav-item active"><a class="nav-link" href="TypeView">View Type</a></li> <br>
                    <li class="nav-item active"><a class="nav-link" href="MaterialView">View Material</a></li><br>
                    <li class="nav-item active"><a class="nav-link" href="LoanerView">View Loaner</a></li><br>
                    <li class="nav-item active"><a class="nav-link" href="showLoan">View Loan</a></li><br>
                    <li class="nav-item active"><a class="nav-link" href="addMaterial" id="mat">Add Material</a></li><br>
            </ul>
            <div id ="logout">
                <ul class="navbar-nav mr-auto" >
                    <li class="nav-item active"><a class="nav-link" href="logout">Logout</a></li>
                </ul>
            </div>
      </div>
    </nav>
    <div>
      <nav class="main-menu bg-dark" id = "sidebar" role="navigation">
                <ul>
                    <li class="has-subnav mb-4 mt-2">
                        <a href="../MaterialView">
                            <i class="fa fa-laptop fa-2x"></i>
                            <span class="nav-text">
                                MATERIAL
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav mt-2 mb-4">
                        <a href="../TypeView">
                           <i class="fa fa-list fa-2x"></i>
                            <span class="nav-text">
                                TYPE
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav mb-4 mt-2">
                        <a href="../LoanerView">
                           <i class="fa fa-folder-open fa-2x"></i>
                            <span class="nav-text">
                                LOANER
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav mb-4 mt-2">
                        <a href="../showLoan">
                            <i class="fa fa-bar-chart-o fa-2x"></i>
                            <span class="nav-text">
                                LOAN
                            </span>
                        </a>
                    </li>
                    <li class="has-subnav mb-4 mt-2">
                        <a href="../accounts/change-password">
                            <i class="fa fa-user-circle fa-2x"></i>
                            <span class="nav-text">
                                CHANGE PASSWORD
                            </span>
                        </a>
                    </li>
                    <li class="has-subnav mb-4 mt-2">
                       <a href="../logout">
                             <i class="fa fa-power-off fa-2x"></i>
                            <span class="nav-text">
                                LOGOUT
                            </span>
                        </a>
                    </li>

                </ul>
            </nav>
      </div>
  </main>
</body>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src="{% static 'javascript/material/crudMaterial.js' %}"></script>
  <script>
      $('#myCollapsible').collapse({
          toggle: false
        })
  </script>
  {% block javascript %}
  {% endblock javascript%}
</html>