<head>
    {% load loan_template_tags %}
    {% load static %}
    <link rel ="stylesheet" href = "{% static 'css/materialize.min.css' %}" type = "text/css" media = "screen">
    <link rel ="stylesheet" href = "{% static 'css/materialize.css' %}" type = "text/css" media = "screen">
    <link rel ="stylesheet" href = "{% static 'javaScript/materialize.min.js' %}" type = "text/css" media = "screen">
    {% block title %}
    <title>FabMSTIC</title>
    {% endblock %}

    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper blue-grey darken-4">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="hide-on-med-and-down">
            <li><a href="/"><img src="../../images/None/logo.jpg" height="60" width="120"/></a></li>
            <li class="blue-grey darken-4" ><a href="/homeFabmstic">HOME</a></li>
            <li class="blue-grey darken-4" ><a href="/charterFabmstic">CHARTER</a></li>
            {% if user.is_superuser %}
<!--                <li class="green darken-4" ><a href="/accounts/register">Register</a></li>-->
                <li><a href="/admin">ADMIN</a></li>
            {% endif %}
            {% if user.is_authenticated %}
<!--                <li class="blue-grey darken-4" ><a href="/TypeView">View Types</a></li>-->
<!--                <li class="blue-grey darken-4" ><a href="/LoanerView">View Loaners</a></li>-->
                <li class="blue-grey darken-4" ><a href="{% url 'userManual' %}">USER MANUAL</a></li>
                <li class="blue-grey darken-4" ><a href="/allLoan">DASHBOARD</a></li>
                <li class="blue-grey darken-4" ><a href="/addMaterial">ADD MATERIAL</a></li>
            {% endif %}
        </ul>
        <ul class = 'hide-on-med-and-down right'>
            {% if user.is_authenticated %}
                <li><a href="../../loan-summary">
                        <span class="trigger red darken-4 ml-2">  {{ request.user|loan_materials_count }}   </span>
                        <i class="material-icons right">add_shopping_cart</i>
                        <span class="clear fix d-none d-sm-inline-block">   LOAN</span>
                    </a>
                </li>
                <li><a href="/accounts/showProfile" class = "btn dropdown-button red darken-4">{{user.username|title}}</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            {% else %}
                 <li><a href="/accounts/login">LOGIN</a></li>
          {% endif %}
        </ul>
    </div>
    </nav>

</div>

    <ul class="sidenav" id="slide-out">
            {% if user.is_superuser %}
<!--                <li class="green darken-4" ><a href="/accounts/register">Register</a></li>-->
                <li><a class="blue-grey darken-2" href="/admin">Admin</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li class="blue-grey darken-2" ><a href="/addMaterial">USER MANUAL</a></li>
                <li class="blue-grey darken-2" ><a href="/allLoan">DASHBOARD</a></li>
                <li class="blue-grey darken-2" ><a href="/addMaterial">ADD MATERIAL</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="../../loan-summary">
                        <span class="trigger red darken-4 ml-2">  {{ request.user|loan_materials_count }}   </span>
                        <i class="material-icons right">add_shopping_cart</i>
                        <span class="clear fix d-none d-sm-inline-block">   Loan</span>
                    </a>
                </li>
                <li><a href="/showLoan" class = "btn dropdown-button red darken-4">{{user.username|title}}</a></li>
                <li><a href="/logout" class="blue-grey darken-2">Logout</a></li>
            {% else %}
                 <li><a href="/accounts/login" class="blue-grey darken-2">Login</a></li>
          {% endif %}
    </ul>

    <script type="text/javascript">
          document.addEventListener('DOMContentLoaded',function(){
                const sidenav = document.querySelectorAll('.sidenav');
                M.Sidenav.init(sidenav,{})
            })
    </script>