<head>
    {% load loan_template_tags %}
    {% load static %}
    <link rel ="stylesheet" href = "{% static 'css/materialize.min.css' %}" type = "text/css" media = "screen">
    <link rel ="stylesheet" href = "{% static 'css/materialize.css' %}" type = "text/css" media = "screen">
    <link rel ="stylesheet" href = "{% static 'javaScript/materialize.min.js' %}" type = "text/css" media = "screen">

    {% block title %}

    <title>FabMSTIC</title>

    {% endblock %}

    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper blue-grey darken-4">

        <ul id="nav-mobile" class="left">
            <li><a href="/">Logo</a></li>
            <li><a href="/">Home</a></li>
            {% if user.is_superuser %}

            <li class="green darken-4" ><a href="/accounts/register">Register</a></li>
            <li><a href="/admin">Admin</a></li>

            {% endif %}

        </ul>
        <ul class = 'right'>
            {% if user.is_authenticated %}
                <li><a href="../../loan-summary">
                        <span class="trigger red darken-4">  {{ request.user|loan_materials_count }}   </span>
                        <i class="material-icons right">add_shopping_cart</i>
                        <span class="clear fix d-none d-sm-inline-block">   Loan</span>
                    </a>
                </li>
                <li><a href="/addType" class = "btn dropdown-button red darken-4">{{user.username|title}}</a></li>
                <li><a href="/logout">Logout</a></li>
            {% else %}
                 <li><a href="/accounts/login">Login</a></li>
          {% endif %}
        </ul>

    </nav>

 </div>
