#sidebar {
                position: fixed;
                top: 64px;
                background-color: #263238 !important;
            }
            #navbar {
                border-radius: 0 !important;
                -moz-border-radius: 0 !important;
                width: 100%;
                height: 64px;
                background-color: #263238
            }
            .affix {
                top:0;
                width: 100%;
                z-index: 9999 !important;
             }
            .nav-item:hover {
              background-color: #2F3640;
            }
            #reg{
             background-color: #2F562E;
            }
            #reg:hover{
                 background-color: #294A28
            }
            #mat{
             background-color: #6B798A
            }
            #mat:hover{
                 background-color:  #606B7A;
            }
            #logout{
                 position: absolute;
		         left: 95%;
            }
