{% extends 'siteWeb/loaner/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <!-- Modal ADD Material -->
    <div class="modal fade" id="addMatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addMatModalLabel">ADD MATERIAL</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="addMaterial" action="">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{form|crispy}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="ADD MATERIAL" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Modal ADD Material -->


    <!-- Material Table -->
    <div class="container mt-5">
        <button class="btn btn-success offset-12 add-form">
                <span class="glyphicon glyphicon-plus mr-2">ADD MATERIAL</span>
        </button>
        <table id="materialTable" class="table container-fluid table-responsive mt-2">
            <thead class="bg-info">
                <th scope="col" class="text-center">BARCODE</th>
                <th scope="col" class="text-center">NAME</th>
                <th scope="col" class="text-center">MATERIAL TYPE</th>
                <th scope="col" class="text-center">CREATION DATE</th>
                <th scope="col" class="text-center">ACTIONS</th>
            </thead>
            <tbody>
            {% for material in materials %}
                <tr id="material-{{material.barcode}}">
                    <td>{{ material.barcode}}</td>
                    <td class="materialName materialData" name="name">{{ material.name}}</td>
                    <td class="materialType materialData" name="type">{{ material.type }}</td>
                    <td class="materialCreation_date materialData" name="creation_date_mat">{{ material.creation_date_mat }}</td>
                    <td class="d-flex">
                        <button class="btn btn-warning edit-form" onClick="editMaterial({{material.barcode}})">
                            <span class="glyphicon glyphicon-pencil mr-2"></span>Edit
                        </button>
                        <button class="btn btn-danger ml-2 show-form-delete" onClick="deleteMaterial({{material.barcode}})">
                            <span class="glyphicon glyphicon-trash mr-2"></span>Delete
                        </button>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7" class="text-center bg-warning">No Material</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- END Material Table -->


    <!-- Modal EDIT Material -->
    <div class="modal fade" id="editMatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editMatModalLabel">EDIT MATERIAL</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="updateMaterial">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name_e">Name : </label>
                            <input class="form-control" type="text" name="name_e" id="name_e">
                        </div>
                        <div class="form-group">
                            <label for="barcode_e">Barcode : </label>
                            <input class="form-control" type="text" name="barcode_e" id="barcode_e">
                        </div>
                        <div class="form-group">
                            <label for="type_material_e">Type : </label>
                            <input class="form-control" type="text" name="type_material_e" id="type_material_e">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="EDIT MATERIAL"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Modal EDIT Material -->



</div>

{% endblock %}


{% block javascript %}
<script>

// Create Material ---------------------------------------------------------------------------------------------------//
    // Show form for the save data
    $(document).ready(function(){
    $(".add-form").click(function(){
        $('#addMatModal').modal('show');
    });

    });

     $("#addMaterial").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'CreateCrudMaterial' %}",
            data: serializedData,
            success: function (response) {
                alert("Material is creatd");
                location.reload(true);
            },
            error: function (response) {
                // alert the error if any error occured
                alert("Material is not created");
            }
        })
    })

// END Create Material -----------------------------------------------------------------------------------------------//

// Update Material ---------------------------------------------------------------------------------------------------//
     $(document).ready(function(){
        $(".edit-form").click(function(){
            $('#editMatModal').modal('show');
        });
    });


    $("form#updateMaterial").submit(function() {
    var nameInput = $('input[name="name_e"]').val().trim();
    var barcode_Input = $('input[name="barcode_e"]').val().trim();
    var type_Input = $('input[name="type_material_e"]').val().trim();
    if (nameInput && barcode_Input && type_Input) {
        //
        $.ajax({
            url: '{% url "UpdateCrudMaterial" %}',
            data: {
                'barcode': barcode_Input,
                'name': nameInput,
                'mat_type': type_Input
            },
            dataType: 'json',
            success: function (data) {
                if (data.material) {
                  updateToMaterialTabel(data.material);
                  alert("Material is updated");
                  location.reload(true);
                }
            }
        });

    } else {
        alert("Material is not updated");
    }
    //$('form#updateMaterial').trigger("reset");
    //$('#myModal').modal('hide');
    //location.reload(true);
    return false;

    });


   function editMaterial(barcode) {
      if (barcode) {
        material_barcode = "#material-" + barcode;
        material_name = $(material_barcode).find(".materialName").text();
        material_type = $(material_barcode).find(".materialType").text();

        $('#name_e').val(material_name);
        $('#barcode_e').val(barcode);
        $('#type_material_e').val(material_type);
      }
   }


   function updateToMaterialTabel(material){
    $("#materialTable #material-" + material.barcode).children(".materialData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "name") {
            $(this).text(material.name);
        } else (attr == "type")
        {
            $(this).text(material.ype);
        }
      });

}

// END Update Material -----------------------------------------------------------------------------------------------//





// Delete Material----------------------------------------------------------------------------------------------------//
function deleteMaterial(barcode) {
  var action_delete = confirm("Are you sure you want to delete this Material?");
  if (action_delete == true) {
    $.ajax({
        url: '{% url "DeleteCrudMaterial" %}',
        data: {
            'barcode': barcode,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#materialTable #material-" + barcode).remove();
              alert("Material is deleted");
            }
        }
    });
  }
};
// END Delete Material -----------------------------------------------------------------------------------------------//



</script>

{% endblock javascript %}