{% include "siteWeb/includes/dashboard.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<head>
      <script src="{% static 'jquery/external/jquery/tableSearch.js' %}"></script>
</head>
{% if user.is_authenticated %}
<div class="container">
    <div class="container-fluid">
            <h2>Materials</h2>
          <p>Type something in the input field to search the table for first names, last names or emails:</p>
          <input class="form-control" id="myInput" type="text" placeholder="Search..">
          <br>
         <a class="btn btn-success add-form offset-12" href="/addMaterial">
            <span><i class="fas fa-plus"></i> Add Material</span>
         </a>
    </div>
    <div class="table-responsive table-body">
        <table class="table container-fluid table-responsive mt-2">
            <thead class="bg-info">
                <tr>
                    <th scope="row" class="col-md-1">ID</th>
                    <th scope="col" class="col-md-1">BARCODE</th>
                    <th scope="col" class="col-md-1">NAME</th>
                    <th scope="col" class="col-md-1">TYPE</th>
                    <th scope="col" class="col-md-1">DESCRIPTION</th>
                    <th scope="col" class="col-md-2">CREATION DATE</th>
                    <th scope="col" class="col-md-1 text-center">ACTIONS</th>
                </tr>
            </thead>

            {% for material in materials %}
            <tbody id="myTable">
            <tr>
                <td scope="row">{{material.id}}</td>
                <td>{{material.name}}</td>
                <td>{{material.barcode}}</td>
                <td>{{material.slug}}</td>
                <td>{{material.type }}</td>
                <td>{{material.creation_date_mat}}</td>
                <td  class="d-flex">
                    <a href="/updateMaterial/{{material.id}}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil mr-2"></span>EDIT</a>
                    <button  class="btn btn-danger ml-2" onClick="deleteMaterial({{material.id}})">
                        <span class="glyphicon glyphicon-trash mr-2"></span>DELETE
                    </button>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% else %}
<center><p> No Permittion. If you have an account, <a href="/accounts/login">login.</a></p></center>
{% endif %}
{% endblock %}



{% block javascript %}
<script>
 // Delete Material----------------------------------------------------------------------------------------------------//
function deleteMaterial(id) {
  var action_delete = confirm("Are you sure you want to delete this Material?");
  if (action_delete == true) {
    $.ajax({
        url: '{% url "DeleteCrudMaterial" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              alert("Material is deleted");
              location.reload(true);
            }
        }
    });
  }
};
// END Delete Material -----------------------------------------------------------------------------------------------//
</script>

{% endblock javascript %}