{% extends 'siteWeb/home.html'%}

{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
    <form method="POST" action="{% url 'addMaterial' %}">
        <table>
            {% csrf_token %}

            <div class="row">
                <div class="col-3">
                    {{ form.name|as_crispy_field }}
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    {{ form.barcode|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{ form.slug|as_crispy_field }}
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    {{ form.material_picture|as_crispy_field }}
                </div>
            </div>

             <div class="row">
                <div class="col-3">
                    {{ form.type|as_crispy_field }}
                </div>
            </div>


            <input type="submit" value="ADD MATERIAL" class="btn btn-info" />
        </table>
    </form>
</div>


{% endblock %}