{% include "siteWeb/includes/dashboard.html" %}
{% block content %}
 <div class = "container-fluid">
    {% if user.is_authenticated %}
        <br>
        <h3><span>Add Type</span></h3>
        <br>
        <form method = "POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button class="btn btn-dark" type = "submit">Add Type</button>
        </form>
         </div>
    {% else %}
        <p>You don't have permission to access this page. Return Home.</p>
    {% endif %}
</div>
{% endblock %}
