<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>FABMSTIC</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" media="screen">
         <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen">
         <style type="text/css">
            .asteriskField{
                display: none;}
        </style>

    </head>

<div class="card">
       <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-info">
                   <ul class=" navbar-nav mr-auto">

                       <li class="nav-item active bg-light">
                           <!--<img src="{% static 'siteWeb/Logo.png'%}" width="100px" height="40px">-->
                       </li>

                       <li class="nav-item active">
                           <a class="nav-link active" href="">FabMSTIC</a>
                       </li>
                       <li class="nav-item active">
                           <a class="nav-link active" href="#">DESCRIPTION</a>
                       </li>
                       <li class="nav-item active">
                           <a class="nav-link active" href="#">LOANER</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link active" href="#">CHARTE</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link active" href="#">AIDE</a>
                       </li>

                       <form class="form-inline active-pink-3 active-pink-4">
                            <i class="fas fa-search" aria-hidden="true"></i>
                            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                        aria-label="Search">
                      </form>
                   </ul>
                   <ul class="nav navbar-nav navbar-right">
                       <li class="nav-item">
                       </li>
                   </ul>
           </nav>

               <!-- <img src="{% static 'siteWeb/Logo.png'%}" width="400px" height="100px"> -->



       <!-- end nav -->

        <div class="container-fluid card-body " style="height: 1300px; width: 1200px">
            <div class="container-fluid h-100 d-inline-block">
                <div class="container-fluid">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    <!-- footer -->
    <div class="card-footer p-3 mb-2 bg-info text-white">
            <div class="container">
                <div class="row row-cols-4">
                    <div class="col">
                        <address>
                            FABLAB FabMSTIC UGA</br>
                            11 Rue des Mathématiques </br>
                             38400 Saint-Martin-d’Hères</br>
                        </address>
                    </div>
                    <div class="col">
                        Contact</br>
                        Email : fabmstic@uga.fr</br>
                        Tel : 04 65 76 89 90
                    </div>
                    <div class="col">
                        Developpeurs du site Web :</br>
                        MIHALI Kristi</br>
                        DIALLO Mamadou</br>
                        Année de Création: 2020
                    </div>
                    <div class="col">
                        Pour nous contacter : </br>
                        <a href="mihalikristi@gmail.com">mihalikristi@gmail.com</a></br>
                        <a href="diouldmariia@hotmail.fr">diouldmariia@hotmail.fr</a>
                    </div>
                </div>
            </div>
    </div>
    <!-- footer -->
    <script src="{% static 'css/bootstrap.js' %}" ></script>
</div>
</html>