{% extends "siteWeb/header_secondary.html" %}
{% block content %}
<main>
    <div class="container mt-5">
        <div class="row border">
            <div class="col-md-6 ml-4 mt-2 pt-1">
                <h4 style="margin-left: 5px;"></h4>
            </div>
        </div>


        <p style="font-size: 20px;">
            To access and read the Fablab FabMSTIC charter, click on the following link : <br>
            <a href="https://fabmstic.imag.fr/charte-dutilisation-du-fablab-fabmstic/">Fablab FabMSTIC CHARTER</a>
        </p>



    </div>
</main>
<footer>
    {% include "siteWeb/includes/footer.html" %}
</footer>
{% endblock %}
