{% include "siteWeb/includes/dashboard.html" %}

{% load crispy_forms_tags %}

{% block content %}
        <div class="container">
        <h3>Edit Type</h3>
        <title>FabMSTIC</title>
        <form method="POST"  action="/updateType/{{type_edit.id}}" novalidate class="my-3">
            {% csrf_token %}
            <div class="form-row">
                 <div class="form-group col-md-3">
                    <label> Type: </label>
                     <select id="cars" name="cars">
                      <option value="{{type_edit.name_type}}" selected>{{type_edit.material_type}}</option>
                      {% if type_edit.material_type == "unique" %}
                         <option value="generic">generic</option>
                      {% else %}
                         <option value="unique">unique</option>
                      {% endif %}
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="name"> Name: </label>
                    <input type="text" class="form-control" name="name" id="name" value="{{type_edit.name_type}}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="description"> Description: </label>
                    <input type="email" class="form-control" name="description" id="description" value="{{type_edit.description}}">
                </div>
            </div>


             <div class="form-group row">
                 <div class="col-sm-8">
                     <button type="submit" class="btn btn-primary col-sm-2">EDIT TYPE</button>
                 </div>
             </div>
        </form>
    </div>

{% endblock %}