{% extends "siteWeb/header_secondary.html" %}
{% block content %}
<main>
    <div class="container mt-5  " style="font-size: 20px;">
        <div class="row border">
            <div class="col-md-6 ml-4 mt-2 pt-1">
                <h4 style="margin-left: 5px;"></h4>
            </div>
        </div>

        <p style="margin: 6px;">
            Welcome to our Website, Thank you for visiting. <br><br>

            This Website is set up to facilitate the Management of Material Loans to the Fablab FabMSTIC from Grenoble Alpes
            University. <br><br>

            In other words, the website allows you to keep track of the equipment or materials borrowed by a Borrower
            and therefore it guarantees the proper use of the Materials by all the beneficiaries. <br><br>

            On this Website you can find all of the Materials that can be loaned by the Fablab FabMSTIC as well as the
            conditions to be fulfilled in order to Borrow a Material. <br><br>

            The Charter that you must know before claiming to request a Loan is available on this site in the CHARTER
            tab. <br><br>


            The Fablab FabMSTIC is a workshop space of the Grenoble IT Laboratory. <br><br>

            The idea of ​​creating this website is entirely the work of Mr. Germain LEMASSON. <br><br>

            This Website was produced by <strong>DIALLO Mamadou</strong> and <strong>MIHALI Kristi</strong> both students as part of the Ter Project of their
            Master 1 IT under the supervision of <strong>Mr. Germain LEMASSON</strong>. <br><br>
        </p>


    </div>
</main>
<footer>
    {% include "siteWeb/includes/footer.html" %}
</footer>
{% endblock %}
