<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <!-- Prism CSS -->
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" media="screen">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <header>
        {% include "siteWeb/includes/navbar.html" %}
        {% include "siteWeb/includes/messaging.html" %}
    </header>
      {% block content %}
      {% endblock content %}
</body>
