<head>
    {% load static %}
    {% load crispy_forms_tags %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" media="screen">
    <style type="text/css">
            .asteriskField{
                display: none;}
        </style>
</head>
<body>

    {% include "siteWeb/includes/navbar-secondary.html" %}

    {% include "siteWeb/includes/messaging.html" %}

  <div class = "container">
      <br>
      {% block content %}
      {% endblock %}
  </div>
</body>

<!-- Prism JS -->
<script src="{% static 'tinymce/js/prism.js' %}"></script>