{% include "siteWeb/header_secondary.html" %}

{% include "siteWeb/includes/messaging.html" %}

{% block content %}
<main>
    <div class = "container">
        {% if user.is_authenticated %}
            <br>
            <h3>Add Loan</h3>
            <br>

            <form method = "POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formLoan.as_p }}
                <br>
                <button class="btn-large blue-grey darken-4" type = "submit">Save Loan</button>
            </form>

            If you want to create a new Loaner, go to <strong><a href = '../addLoaner/'>LOANER</a></strong>.
        {% else %}
            <p>You don't have permission to access this page. Return Home.</p>
        {% endif %}

    </div>
</main>
<footer>
    {% include "siteWeb/includes/footer.html" %}
</footer>
{% endblock %}