{% include "siteWeb/includes/dashboard.html" %}
{% block content %}
<div class="container mt-3">
    <h3 class="pl-5 offset-2">INFORMATIONS OF LOAN </h3> <br>
    <div class="row border">
        <div class="col-md-4 mt-2 ml-4">
            <strong>ID LOAN : {{loan_loaner.loaner.id}}</strong> <br> <br>
            <strong>LOANER : {{loan_loaner.loaner.first_name}} {{loan_loaner.loaner.last_name}}</strong> <br> <br>
            <strong>EMAIL LOANER : {{loan_loaner.loaner.email}}</strong> <br> <br>
            <strong>STAFF : {{loan_loaner.user.last_name}} {{loan_loaner.user.first_name}}</strong> <br> <br>
            <strong>CREATION DATE : {{loan_loaner.creation_date_loan}}</strong> <br> <br>
            <strong>EXPECTED RETURN DATE : {{loan_loaner.expected_return_date}}</strong> <br> <br>
            <strong>RETURN DATE : {{loan_loaner.return_date}}</strong> <br> <br>
            <center class="d-flex">
                <a href="../edit-loan-summary/{{loan_loaner.id}}"><button class="btn btn-warning mt-2 mb-4">EDIT</button></a>
                <a href="../allLoan"><button class="btn btn-success mt-2 mb-4 ml-2">RETOUR</button></a>
            </center>
        </div>
        <table class="table table-responsive col-md-4 mt-2 ml-4">
            <thead class="bg-info">
            <th scope="col" class="text-center">MATERIAL</th>
            <th scope="col" class="text-center">QUANTITY</th>
            </thead>
            <tbody>
            {% for material in loan_materials %}
            <tr>
                <td class="text-center">{{material.material.name}}</td>
                <td class="text-center">{{material.quantity}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <center>
        <ul class="pagination">
            {% for i in paginator.page_range %}
            <li class="page-item {% if i == page_number %} active {% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endfor %}
        </ul>
    </center>
</div>

{% endblock %}

