{% include "siteWeb/includes/dashboard.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<head>
    <script src="{% static 'jquery/external/jquery/tableSearch.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<main>
    {% if user.is_authenticated %}
    <body>
    <div class="container">
        <div class="container-fluid">
            <br>
            <center><h3>LOANS SURPASSED</h3></center>
            <br>
            <center>
                <a class="btn btn-success" href="allLoan">All Loans</a>
                <a class="btn btn-success" href="notReturnedLoan">Not Returned</a>
                <a class="btn btn-success" href="LoanSurpassed" disabled>Surpassed</a>
            </center>
            <br>
            <p>Type something in the input field to search the table for first names, last names or emails:</p>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
            <div class="table-responsive table-body" id="table3">
                <table id="loanTable" class="table container-fluid table-responsive">
                    <thead class="bg-info">
                    <tr>
                        <th scope="col" class="col-md-1">Surname</th>
                        <th scope="col" class="col-md-1">Name</th>
                        <th scope="col" class="col-md-1">E-mail</th>
                        <th scope="col" class="col-md-1">Returned</th>
                        <th scope="col" class="col-md-1">Creation Date</th>
                        <th scope="col" class="col-md-1">Return Date</th>
                        <th scope="col" class="col-md-1">Actions</th>
                    </tr>
                    </thead>
                    {% for loan in loan_surpassed %}
                    <tbody id="myTable">
                    <tr id="loan-{{loan.id}}">
                        <td>{{loan.loaner.last_name}}</td>
                        <td>{{loan.loaner.first_name}}</td>
                        <td>{{loan.loaner.email}}</td>
                        <td>{{loan.returned}}</td>
                        <td>{{loan.creation_date_loan}}</td>
                        <td>{{loan.expected_return_date}}</td>
                        <td class="d-flex">
                            <a href="/loan_id/{{loan.id}}" class="btn btn-primary mr-2 d-flex">
                                <span><i class="material-icons mr-2">remove_red_eye</i></span>SHOW
                            </a>
                            <a href="/updateLoan/{{loan.id}}" class="btn btn-warning mr-2">
                                <span><i class="far fa-edit"></i></span> EDIT
                            </a>

                            <button class="btn btn-danger ml-3" onClick="deleteLoan({{loan.id}})">
                                <span><i class="far fa-trash-alt"></i></span> DELETE
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
                <center>
                    <ul class="pagination">
                        {% for i in paginator_3.page_range %}
                        <li class="page-item {% if i == page_number_3 %} active {% endif %}">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </center>
            </div>
        </div>
        <center>
<!--            <a class="btn btn-success" href="allLoan">RETOUR</a>-->
        </center>
        <br>
    </div>
    </body>
    {% else %}
    <center><p> No Permittion. If you have an account, <a href="/accounts/login">login.</a></p></center>
    {% endif %}
</main>
{% endblock %}


<script>
// Delete LOAN -------------------------------------------------------------------------------------------------------//
function deleteLoan(id) {
  var action_delete = confirm("Are you sure you want to delete this Loan?");
  if (action_delete == true) {
    $.ajax({
        url: '{% url "DeleteCrudLoan" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#loanTable #loan-" + id).remove();
              alert("Loan is deleted");
            }
        }
    });
  }
};

// END Delete LOAN ---------------------------------------------------------------------------------------------------//

</script>