{% include "siteWeb/includes/dashboard.html" %}

{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<head>
      <script src="{% static 'jquery/external/jquery/tableSearch.js' %}"></script>
</head>
<div class="container">
    <h2>Loaners</h2>
  <p>Type something in the input field to search the table for first names, last names or emails:</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
 <table class="table table-bordered responsive" style="height:90vh">

        <thead class="thead-dark">
            <tr>
                <th scope="col">LAST NAME</th>
                <th scope="col">FIRST NAME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">ESTABLISHMENT</th>
                <th scope="col">CREATION DATE</th>
                <th scope="col">ACTIONS</th>
            </tr>
        </thead>

        {% for loaner in loaners %}
        <tbody id="myTable">
        <tr>
            <td>{{loaner.last_name}}</td>
            <td>{{loaner.first_name}}</td>
            <td>{{loaner.email}}</td>
            <td>{{loaner.establishment}}</td>
            <td>{{loaner.creation_date}}</td>
            <td>
                <a href="/editLoaner/{{loaner.id}}"><span>Edit</span></a>
                <a href="/deleteLoaner/{{loaner.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>

{% endblock %}