{% include "siteWeb/includes/dashboard.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<head>
    <script src="{% static 'jquery/external/jquery/tableSearch.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
        function show(nr) {
            document.getElementById("table1").style.display="none";
            document.getElementById("table2").style.display="none";
            document.getElementById("table3").style.display="none";
            document.getElementById("table"+nr).style.display="block";

            document.getElementById('button1').removeAttribute('disabled');
            document.getElementById('button2').removeAttribute('disabled');
            document.getElementById('button3').removeAttribute('disabled');

            var ele = document.getElementById("button"+nr);
            ele.setAttribute("disabled", true);
            ele.setAttribute("editable", false);
        }

    </script>
    <style>
        td {
            vertical-align: top;
        }
        #table1, #table2, #table3 {
            display: none;
        }

    </style>
</head>
<main>
    {% if user.is_authenticated %}
    <body onload="show(2);">
        <div class="container">
            <div class="container-fluid">
                <br>
                <center>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a onclick='show(1);' class="btn btn-success" href="#" id="button1">All Loans</a>
                        <a onclick='show(2);' class="btn btn-success" href="#" id="button2">Not Returned</a>
                        <a onclick='show(3);' class="btn btn-success" href="#" id="button3">Surpassed</a>
                    </div>
                </center>
                <h2>Loans</h2>
                <p>Type something in the input field to search the table for first names, last names or emails:</p>
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <br>
                <div class="table-responsive table-body" id="table1">
                    <table class="table container-fluid table-responsive mt-2">
                        <thead class="bg-info">
                        <tr>
                            <th scope="col" class="col-md-1">Surname</th>
                            <th scope="col" class="col-md-1">Name</th>
                            <th scope="col" class="col-md-1">E-mail</th>
                            <th scope="col" class="col-md-1">Returned</th>
                            <th scope="col" class="col-md-1">Creation Date</th>
                            <th scope="col" class="col-md-1">Return Date</th>
                            <th scope="col" class="col-md-1">Actions</th>
                        </tr>
                        </thead>
                        {% for loan in loan_all %}
                        <tbody id="myTable1">
                        <tr>
                            <td>{{loan.loaner.last_name}}</td>
                            <td>{{loan.loaner.first_name}}</td>
                            <td>{{loan.loaner.email}}</td>
                            <td>{{loan.returned}}</td>
                            <td>{{loan.creation_date_loan}}</td>
                            <td>{{loan.expected_return_date}}</td>
                            <td class="d-flex">
                                <a href="/loan_id/{{loan.id}}" class="btn btn-primary mr-2"><span><i class="material-icons">remove_red_eye</i></span></a>
                                <a href="/updateLoan/{{loan.id}}" class="btn btn-success mr-2"><span><i
                                        class="material-icons">create</i></span></a>
                                <a href="/deleteLoan/{{loan.id}}" class="btn btn-danger"><i
                                        class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    <div class="row">
                        <div class="offset-5">
                            <ul class="pagination">
                                {% for i in paginator.page_range %}
                                <li class="page-item {% if i == page_number %} active {% endif %}">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive table-body" id="table2">
                <table class="table container-fluid table-responsive mt-2">
                    <thead class="bg-info">
                    <tr>
                        <th scope="col" class="col-md-1">Surname</th>
                        <th scope="col" class="col-md-1">Name</th>
                        <th scope="col" class="col-md-1">E-mail</th>
                        <th scope="col" class="col-md-1">Returned</th>
                        <th scope="col" class="col-md-1">Creation Date</th>
                        <th scope="col" class="col-md-1">Return Date</th>
                        <th scope="col" class="col-md-1">Actions</th>
                    </tr>
                    </thead>
                    {% for loan in loan_not_ret %}
                    <tbody id="myTable2">
                    <tr>
                        <td>{{loan.loaner.last_name}}</td>
                        <td>{{loan.loaner.first_name}}</td>
                        <td>{{loan.loaner.email}}</td>
                        <td>{{loan.returned}}</td>
                        <td>{{loan.creation_date_loan}}</td>
                        <td>{{loan.expected_return_date}}</td>
                        <td class="d-flex">
                            <a href="/loan_id/{{loan.id}}" class="btn btn-primary mr-2"><span><i class="material-icons">remove_red_eye</i></span></a>
                            <a href="/updateLoan/{{loan.id}}" class="btn btn-success mr-2"><span><i class="material-icons">create</i></span></a>
                            <a href="/deleteLoan/{{loan.id}}" class="btn btn-danger"><i
                                    class="material-icons">delete</i></a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
                <div class="row">
                    <div class="offset-5">
                        <ul class="pagination">
                            {% for i in paginator_2.page_range %}
                            <li class="page-item {% if i == page_number_2 %} active {% endif %}">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-responsive table-body" id="table3">
                <table class="table container-fluid table-responsive mt-2">
                    <thead class="bg-info">
                    <tr>
                        <th scope="col" class="col-md-1">Surname</th>
                        <th scope="col" class="col-md-1">Name</th>
                        <th scope="col" class="col-md-1">E-mail</th>
                        <th scope="col" class="col-md-1">Returned</th>
                        <th scope="col" class="col-md-1">Creation Date</th>
                        <th scope="col" class="col-md-1">Return Date</th>
                        <th scope="col" class="col-md-1">Actions</th>
                    </tr>
                    </thead>
                    {% for loan in loan_surpassed %}
                    <tbody id="myTable3">
                    <tr>
                        <td>{{loan.loaner.last_name}}</td>
                        <td>{{loan.loaner.first_name}}</td>
                        <td>{{loan.loaner.email}}</td>
                        <td>{{loan.returned}}</td>
                        <td>{{loan.creation_date_loan}}</td>
                        <td>{{loan.expected_return_date}}</td>
                        <td class="d-flex">
                            <a href="/loan_id/{{loan.id}}" class="btn btn-primary mr-2"><span><i class="material-icons">remove_red_eye</i></span></a>
                            <a href="/updateLoan/{{loan.id}}" class="btn btn-success mr-2"><span><i class="material-icons">create</i></span></a>
                            <a href="/deleteLoan/{{loan.id}}" class="btn btn-danger"><i
                                    class="material-icons">delete</i></a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
                <div class="row">
                    <div class="offset-5">
                        <ul class="pagination">
                            {% for i in paginator.page_range %}
                            <li class="page-item {% if i == page_number %} active {% endif %}">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% else %}
    <center><p> No Permittion. If you have an account, <a href="/accounts/login">login.</a></p></center>
    {% endif %}
</main>
{% endblock %}