{% include "siteWeb/includes/dashboard.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<head>
      <script src="{% static 'jquery/external/jquery/tableSearch.js' %}"></script>
</head>
<div class="container">
    <h2>Loans</h2>
  <p>Type something in the input field to search the table for first names, last names or emails:</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Table of Loans</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col" class="th-sm">LAST NAME</th>
                <th scope="col" class="th-sm">FIRST NAME</th>
                <th scope="col" class="th-sm">EMAIL</th>
                <th scope="col" class="th-sm">Returned</th>
                <th scope="col" class="th-sm">CREATION DATE</th>
                <th scope="col" class="th-sm">EXPECTED RETURN DATE</th>
                <th scope="col" class="th-sm">ACTIONS</th>
            </tr>
        </thead>

        {% for loan in loans %}
        <tbody id="myTable">
        <tr>
            <td>{{loan.loaner.last_name}}</td>
            <td>{{loan.loaner.first_name}}</td>
            <td>{{loan.loaner.email}}</td>
            <td>{{loan.returned}}</td>
            <td>{{loan.creation_date_loan}}</td>
            <td>{{loan.expected_return_date}}</td>
            <td>
                <a href="/loan_id/{{loan.id}}" class="btn btn-light"><span>View</span></a>
                <a href="/updateLoan/{{loan.id}}" class="btn btn-light"><span>Returned</span></a>
                <a href="/deleteLoan/{{loan.id}}" class="btn btn-light">Delete</a>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}