{% extends 'siteWeb/loaner/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <!-- Material Table -->
    <div class="container mt-5">
        <button class="btn btn-success show-form">
            <span class="glyphicon glyphicon-plus mr-2"></span>NEW MATERIAL
        </button>

        <table id="materialTable" class="table container-fluid table-responsive mt-2">
            <thead class="bg-info">
                <th scope="col" class="text-center">BARCODE</th>
                <th scope="col" class="text-center">NAME</th>
                <th scope="col" class="text-center">MATERIAL TYPE</th>
                <th scope="col" class="text-center">PICTURE</th>
                <th scope="col" class="text-center">CREATION DATE</th>
                <th scope="col" class="text-center">ACTIONS</th>
            </thead>
            <tbody>
                {% include "siteWeb/material/listMaterial.html" %}
            </tbody>
        </table>
    </div>
    </div>
    <!-- END Material Table -->





{% endblock %}