{% include "siteWeb/includes/dashboard.html" %}

{% load static %}

{% block content %}
<head>
      <script src="{% static 'jquery/external/jquery/tableSearch.js' %}"></script>
</head>
<div class="container-fluid">
    <!-- Modal ADD Loaner -->
    <div class="modal fade" id="addLoanerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addLoanerModalLabel">ADD Loaner</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <form id="addloaner" action="">
                    <div class="modal-body">
                        <input class="form-control" id="loaner_id" type="hidden" name="loaner_id">
                        <div class="form-group">
                            <label for="last_name">LAST NAME : </label>
                            <input class="form-control" type="text" name="last_name" id="last_name">
                        </div>
                        <div class="form-group">
                            <label for="first_name">FIRSt NAME : </label>
                            <input class="form-control" type="text" name="first_name" id="first_name">
                        </div>
                        <div class="form-group">
                            <label for="email">EMAIL : </label>
                            <input class="form-control" type="email" name="email" id="email">
                        </div>
                        <div class="form-group">
                            <label for="establishment">ESTABLISHMENT : </label>
                            <input class="form-control" type="text" name="establishment" id="establishment">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" >ADD Loaner</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Modal ADD Loaner -->


    <!-- Loaner Table -->
    <div class="container">
        <div class="container-fluid">
             <h2>Loaner</h2>
            <p>Type something in the input field to search the table for first names, last names or emails:</p>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
            <button class="btn btn-success add-form offset-12">
                <span><i class="fas fa-plus"></i> ADD LOANER</span>
            </button>
        </div>
        <div class="table-responsive table-body">
        <table id="loanerTable" class="table container-fluid table-responsive mt-2">
            <thead class="bg-info">
                <th>ID</th>
                <th>LAST NAME</th>
                <th>FIRST NAME</th>
                <th>EMAIL</th>
                <th>ESTABLISHMENT</th>
                <th>CREATION</th>
                <th>ACTIONS</th>
            </thead>
             <tbody id="myTable">
            {% for loaner in loaners %}
            <tr id="loaner-{{loaner.id}}">
                <td>{{loaner.id}}</td>
                <td class="loanerLast_name loanerData" name="last_name">{{loaner.last_name}}</td>
                <td class="loanerFirst_name loanerData" name="first_name">{{loaner.first_name}}</td>
                <td class="loanerEmail loanerData" name="email">{{loaner.email}}</td>
                <td class="loanerEstablishment loanerData" name="establishment">{{loaner.establishment}}</td>
                <td class="loanerCreation_date loanerData" name="creation_date">{{loaner.creation_date}}</td>
                <td class="d-flex">
                    <button class="btn btn-warning edit-form mr-2" onClick="editLoaner({{loaner.id}})">
                        <span><i class="far fa-edit"></i></span> EDIT
                    </button>
                    <button class="btn btn-danger ml-2" onClick="deleteLoaner({{loaner.id}})">
                        <span><i class="far fa-trash-alt mr-2"></i></span>DELETE
                    </button>
                </td>
            </tr>
            {% endfor %}
             </tbody>
           </table>
        </div>
    </div>
    <!-- END Loaner Table -->


    <!-- Modal Loaner UPDATE -->
    <div class="modal fade" id="editLoanerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Update Loaner</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <form id="updateLoaner" action="">
                    <div class="modal-body">
                        <input class="form-control" id="loaner_id_e" type="hidden" name="loaner_id_e">
                        <div class="form-group">
                            <label for="last_name_e">LAST NAME : </label>
                            <input class="form-control" type="text" name="last_name_e" id="last_name_e">
                        </div>
                        <div class="form-group">
                            <label for="first_name_e">FIRSt NAME : </label>
                            <input class="form-control" type="text" name="first_name_e" id="first_name_e">
                        </div>
                        <div class="form-group">
                            <label for="email_e">EMAIL : </label>
                            <input class="form-control" type="email" name="email_e" id="email_e">
                        </div>
                        <div class="form-group">
                            <label for="establishment_e">ESTABLISHMENT : </label>
                            <input class="form-control" type="text" name="establishment_e" id="establishment_e">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" >Save changes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Modal Loaner UPDATE -->

</div>


{% endblock %}

{% block javascript %}

<script>

// Create Loaner -----------------------------------------------------------------------------------------------------//
 $(document).ready(function(){
    $(".add-form").click(function(){
        $('#addLoanerModal').modal('show');
    });

    });


$("form#addloaner").submit(function() {
    var last_nameInput = $('input[name="last_name"]').val().trim();
    var first_nameInput = $('input[name="first_name"]').val().trim();
    var emailInput = $('input[name="email"]').val().trim();
    var establishmentInput = $('input[name="establishment"]').val().trim();
    if (last_nameInput && first_nameInput && emailInput && establishmentInput) {
        //
        $.ajax({
            url: '{% url "CreateCrudLoaner" %}',
            data: {
                'last_name': last_nameInput,
                'first_name': first_nameInput,
                'email': emailInput,
                'establishment': establishmentInput
            },
            dataType: 'json',
            success: function (data) {
                if (data.loaner) {
                  alert("Loaner is created");
                  location.reload(true);
                }

            }
        });

    } else {
        alert("Loaner is not saved");
    }
    $('form#addloaner').trigger("reset");
    return false;
});
// END Create Loaner -------------------------------------------------------------------------------------------------//


// Update Loaner -----------------------------------------------------------------------------------------------------//
 $(document).ready(function(){
    $(".edit-form").click(function(){
        $('#editLoanerModal').modal('show');
    });

    });

$("form#updateLoaner").submit(function() {
    var idInput = $('input[name="loaner_id_e"]').val().trim();
    var last_nameInput = $('input[name="last_name_e"]').val().trim();
    var first_nameInput = $('input[name="first_name_e"]').val().trim();
    var emailInput = $('input[name="email_e"]').val().trim();
    var establishmentInput = $('input[name="establishment_e"]').val().trim();
    if (last_nameInput && first_nameInput && emailInput && establishmentInput) {
        //
        $.ajax({
            url: '{% url "UpdateCrudLoaner" %}',
            data: {
                'id_loaner': idInput,
                'last_name': last_nameInput,
                'first_name': first_nameInput,
                'email': emailInput,
                'establishment': establishmentInput
            },
            dataType: 'json',
            success: function (data) {
                if (data.loaner) {
                  updateToLoanerTabel(data.loaner);
                  alert("Loaner is updated");
                  location.reload(true);
                }
            }
        });

    } else {
        alert("Loaner is not updated");
    }
    //$('form#updateLoaner').trigger("reset");
    //$('#myModal').modal('hide');
    //location.reload(true);
    return false;
});


function editLoaner(id) {
  if (id) {
    loaner_id = "#loaner-" + id;
    last_name = $(loaner_id).find(".loanerLast_name").text();
    first_name = $(loaner_id).find(".loanerFirst_name").text();
    email = $(loaner_id).find(".loanerEmail").text();
    establishment = $(loaner_id).find(".loanerEstablishment").text();

    $('#loaner_id_e').val(id);
    $('#last_name_e').val(last_name);
    $('#first_name_e').val(first_name);
    $('#email_e').val(email);
    $('#establishment_e').val(establishment);
  }
}


function updateToLoanerTabel(loaner){
    $("#loanerTable #loaner-" + loaner.id).children(".loanerData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "last_name") {
            $(this).text(loaner.last_name);
        } else if (attr == "first_name") {
            $(this).text(loaner.first_name);
        }else if(attr == "email"){
            $(this).text(loaner.email);
        }else{
            $(this).text(loaner.establishment);
        }
      });

      }

// END Update Loaner -------------------------------------------------------------------------------------------------//

// Delete Loaner -----------------------------------------------------------------------------------------------------//
function deleteLoaner(id) {
  var action_delete = confirm("Are you sure you want to delete this Loaner?");
  if (action_delete == true) {
    $.ajax({
        url: '{% url "DeleteCrudLoaner" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#loanerTable #loaner-" + id).remove();
              alert("Type is deleted");
            }
        }
    });
  }
};
// END Delete Loaner -------------------------------------------------------------------------------------------------//


</script>

{% endblock javascript %}
