{% extends "siteWeb/header_secondary.html" %}
{% block content %}
<main>
    <div class = "container mt-5">
        <h4>MY PROFILE</h4>
        <p>
            USERNAME : {{user.username}} <br> <br>
            FIRST NAME : {{user.first_name}} <br> <br>
            LAST NAME : {{user.last_name}} <br> <br>
            EMAIL : {{user.email}} <br> <br>

        </p>
        <div class="d-flex">
            <a class="btn btn-primary mt-4 blue-grey darken-1" href="/accounts/editProfile">Edit Profile</a>
            <a class="btn btn-primary mt-4 ml-2 blue-grey darken-1" href="/accounts/change-password">CHANGE PASSWORD</a>
        </div>
    </div>
</main>
<footer>
    {% include "siteWeb/includes/footer.html" %}
</footer>
{% endblock %}

